#board {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.square-55d63 {
	transition: background-color 0.3s;
}

#turn {
	color: white;
	border-radius: 3px;
	padding: 3px 7px;
}

#turn.red {
	background-color: #dd0000;
}

#turn.black {
	background-color: #333;
}