#board {
	width: 400px;
	margin: 0 auto;
}

.board-b72b1 {
	border-width: 20px;
}

#turn {
	border-radius: 3px;
}

#turn.white {
	color: black;
	background-color: whitesmoke;
}

#turn.black {
	color: white;
	background-color: #333;
}